.user-credential-div{
    margin: auto;
    width: 250px;
    height: 350px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-right: 100px;
    padding-left: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    cursor: pointer;
}

.user-email-place {
    font-family: Arial, Helvetica, sans-serif;
    width: 310px;
    margin-bottom: 5px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 10px;

}

.user-password-place {
    font-family: Arial, Helvetica, sans-serif;
    width: 310px;
    margin-bottom: 5px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    padding: 10px;
}

.instagram-logo {
    width: 200px;
    margin-left: 60px;
}

.login-button {
    padding: 0px;
    width: 330px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(0, 149, 246);
    border: none;
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer; 
}

button:hover {
    background-color: #0056b3;
}
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    cursor: pointer;
}

.app-google {
    width: 150px;
}

.app-microsoft {
    width: 125px;
    margin-left: 5px;
}

.get-app {
    margin: auto;
    height: 250px;
}

.box {
    padding-top: 30px;
    margin-bottom: 100px;
}

.sign-up-text{
    margin: 0;
    padding-top: 15px;
}
.sign-up-div {
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    height: 50px;
    width: 250px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 65px;
    padding-right: 65px;
    margin-bottom: 5px;
    border-width: thin;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.get-app-text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.bl-text {
    color: #3578E5;
    cursor: pointer;
}

.facebook-login-text {
    text-align: center;
    margin-left: 10px;
    margin-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #385185;
    margin-bottom: 0px;
   
    
}

.facebook-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 50px;
    cursor: pointer;
    
}


.forgot-password-text {
    font-weight: lighter;
    text-align: center;
    margin-left: 80px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3578E5;
    cursor: pointer;
}



.footer {
    margin-top: 65px;
    cursor: pointer;
}

.first-line,
.second-line {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(115, 115, 115);
}

.or-section {
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.or-divider {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
}

.or-text {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 10px;
    color: rgb(115, 115, 115);
    font-size: small;
}

.f-line-elements {
    margin-right: 10px;
    font-weight: lighter;
    color: rgb(115, 115, 115);
}
.s-line-elements{
    margin-right: 10px;
    font-weight: lighter;
    color: rgb(115, 115, 115);
}
.f-line-elements:hover{
 text-decoration: underline;
}
@media (min-width: 751px) and (max-width: 999px) 
  {
    .first-line
    {
        margin-bottom: 50px;
    }
  }
@media (min-width: 751px) and (max-width: 999px) 
  {
    .first-line
    {
        margin-bottom: 50px;
    }
  }
  
@media (max-width: 600px)
  {
    .first-line
    {
        margin-bottom: 20px;
    }
  }

  a{
    text-decoration: none;
  }

  